*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#botoes{
    display: flex;
    gap:10px
}